.home {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.dolist {
  margin-top: 10px;
  color: white;
}

.sign-up {
  color: white;
  margin-right: 20px;
}

.log-in {
  color: white;
  margin-right: 20px;
}
