<html lang="ko">
  {% load static %}
  <head>
    <meta http-equiv="content-type" content="text/html;" charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/Sortable.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    <style type="text/css">
            #container {
                min-width: 310px;
                max-width: 800px;
                height: 400px;
                margin: 0 auto
            }
            input[type=text] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              box-sizing: border-box;
            }

            .list-group-item{
                width : 40%;
            }
		</style>

  </head>
  <body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/"><div class="home">Home</div></a></li>
                <li><a href="/board/"><div class="dolist">할 일</div></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span></a><div class="sign-up">회원가입</div></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span></a><div class="log-in">로그인</div></li>
              </ul>
            </div>
          </nav>
    {% block main %}

    {% endblock main %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function prioirty_save(){
            board_list = $(".list-group-item");
            board_dict = {}
            for(var i = 0 ; i < board_list.length ; i++){
                board_dict[board_list[i].getAttribute("div_pk")] = i + 1
            }
            console.log(board_dict);
            $.ajax({
              type: "POST",
              url: "{% url 'calendar_board:calendar_board_save_priority' %}",
              data: {'board_dict': JSON.stringify(board_dict), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
              dataType: "json",
              success: function(response){
                console.log("성공");
                window.location.href = "{% url 'calendar_board:calendar_board' %}"
              },
              error: function(request, status, error){
                console.log("실패.");
              },
            });
        }
    </script>

    <script>
        completed = document.getElementsByName('complete');
        for(var i = 0; i < completed.length ; i++){
            completed[i].checked = true;
        } // checkbox 내용 가져옴. 일정이 마감된 것들은 checked true.

        $("input[name*=complete]").change(function(){
        // input type에서 name에 complete가 포함된 모든 것에 대해서 change. 즉, 바뀌었을 때 이벤트 추가
            if($(this).is(":checked")){
                pk = $(this).attr("pk");
                $.ajax({
                  type: "POST",
                  url: "{% url 'calendar_board:calendar_board_is_complete' %}",
                  data: {'data': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                  dataType: "json",
                  success: function(response){
                    console.log("성공");
                    window.location.href = "{% url 'calendar_board:calendar_board' %}"
                  },
                  error: function(request, status, error){
                    console.log("실패.");
                  },
                });
            }
            // 체크박스 해제되었을 때 이벤트 처리
            else{
                pk = $(this).attr("pk");
                $.ajax({
                  type: "POST",
                  url: "{% url 'calendar_board:calendar_board_is_non_complete' %}",
                  data: {'data': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                  dataType: "json",
                  success: function(response){
                    window.location.href = "{% url 'calendar_board:calendar_board' %}"
                  },
                  error: function(request, status, error){
                    console.log("실패.");
                  },
                });
            }
        });

    </script>
  </body>
</html>
