{% extends 'khu_calendar/common/header.html' %}
{% load static %}
{% block main %}

<section id="blog">
  <div class="container">
    <table class="table table-bordered">
          <thead>
            <tr>
              <th>제목</th>
              <th>내용</th>
              <th>마감일</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>{{ board_list.title }}</td>
            <td>{{ board_list.content }}</td>
            <td>{{ board_list.end_date }}</td>
          </tr>
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 5%;">
      <button style="margin-right: 3%;" type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='{% url 'calendar_board:calendar_board_update' pk=board_list.pk %} '">수정</button>
      <button style="margin-left: 3%;" type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='{% url 'calendar_board:calendar_board_delete' pk=board_list.pk %} '">삭제</button>
    </div>

  </div>
</section>

{% endblock main %}
