{% extends 'khu_calendar/common/header.html' %}
{% load static %}
{% block main %}

<div class="col-md-12">
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'calendar_board:calendar_board_insert' %}">
           {%csrf_token%}

           {{form.as_p}}
           <div style="text-align: center; margin-top: 5%;">
             <button type="submit" class="save btn btn-default btn-lg">저장</button>
           </div>

       </form>
    </div>
</div>

{% endblock main %}
